.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  min-width: 150px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: #eeeeee;
  font-family: sans-serif;
  box-shadow: 10px 10px 9px -3px rgba(0, 0, 0, 0.1), -10px -10px 9px -3px rgba(0, 0, 0, 0.1);
}

.image {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  min-width: 100px;
  width: 11em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.sectionText {
  padding: 10px;
}

.sectionTextTitle {
  margin-bottom: 0;
}

.sectionTextParagraph {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.2rem;
  max-height: 5rem;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}